/$date cmd.png
/$last cmd.png
/$lastlog cmd.png
/$ls-la cmd.png
/$uptime cmd.png
/Backgrounds
/Cisco Webex Meetings.lnk
/COVID Test Resuts.pdf
/desktop.ini
/from pymongo import MongoClient.py
/IMG-5755-converted.pdf
/J.Sanders A7 Written-Kali vs Parrot .docx
/J.Sanders Module 7 Lab.docx
/Microsoft VS Code
/module_5 MongoDB Connection.py
/Nmap - Zenmap GUI.lnk
/Norton Installation Files.lnk
/pytech.students.png
/python-3.9.2-amd64.exe
/SARC Training Info.txt
/School Assignments
/ubuntu-21.10-desktop-amd64.iso
/Vanessa-Estrada.pdf
/Visual Studio Code.lnk
/Windows 10 ISO.iso
/~$Sanders Module 7 Lab.docx
/~WRL1101.tmp
/~WRL1329.tmp
/~WRL2619.tmp
/~WRL2894.tmp